extends layout

block content
  
  div(class='nav')
    h4(class='logo nav-content' ) 
      a(href='/') MEMBERS ONLY

    div(class='nav-user nav-content')
      if user
        a(href='/message') submit a message
        if !user.member
          a(href='/member') become member
        if !user.admin
          a(href='/admin') become admin
        p=user.username
        a(href='signout') logout
      else
        a(href='/signup') signup
        a(href='/signin') login

  div(class='messages')
    each message in messages
      div(class='message')
      h3(class='message-title')=message.title 
      if user
        if user.member
          p(class='message-user')=message.user.username
      p=message.dateF
      p=message.message
